@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login>h1 {
    color: #fff;
}

.image-login {
    font-size: 3vw;
    width: 35vw;
}

.area-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    color: #fc1722;
    background-color: #fff;
    opacity: 0.8px;
    border-radius: 20px;
    box-shadow: 0.8px 5px 20px rgba(69, 69, 69, 0.549);
}

.card-login>h1 {
    color: #fc1722;
    font-weight: 700;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.531);
    color: #f0ffffde;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.textfield>label {
    color: #fc1722;
    margin-bottom: 10px;
}

.textfield>input::placeholder {
    color: #f0ffffde
}

.btn-entrar,
.btn-cadastrar {
    width: 100%;
    padding: 16px 0px;
    margin: 10px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #fff;
    background: #fc1722;
    cursor: pointer;
}

@media only screen and (max-width: 950px) {

    .left-login {
        font-size: 16px;
        margin-left: 15px;
    }

    .card-login {
        width: 85%
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login {
        font-size: 12px;
        margin-left: 15px;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .area-login {
        width: 100%;
        height: auto;
    }

    .image-login {
        display: none;
    }

    .card-login {
        width: 90%;
    }
}